<h3>This et-component is rendered in et-template.hbs:</h3>
{{et-component}}

<h3>This et-en-component is rendered in et-template.hbs:</h3>
{{et-en-component}}

<h3>Translation in et-template.hbs:</h3>

{{t 'et-engine-translation'}}

<hr/>
